@Model CumulativeProjectP1.Models.teacher


@{
    ViewBag.Title = "Show";
}




<h2>@Model.teacherfname @Model.teacherlname</h2>
<p>@Model.teacherfname's id is: @Model.teacherid</p>
<p>@Model.teacherfname's employee number is: @Model.employeenumber</p>
<p>@Model.teacherfname's salary is: $@Model.salary/hr</p>
<p>@Model.teacherfname was hired on: @Model.hiredate</p>

<div>
    <button><a href="/teacher/list">Back to list</a></button>
    <button><a style="color:red" href="/Teacher/DeleteConfirm/@Model.teacherid">Delete teacher</a></button>
    <button><a href="/Teacher/edit/@Model.teacherid">Edit Teacher</a></button>
</div>
